# Feature Selection on ASM Features

At the end of feature extraction, we have about a 1150 features from the asm files.
To contain the dimensionality of our dataset, we shall be selecting the top features from the asm features with maximum variance using the Chi Square test.

In [1]:
# importing libraries
import numpy as np
import pandas as pd
import pickle
from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import chi2

In [2]:
# Loading the asm features
asm_final = pd.read_csv('./input/asm_final.csv')
asm_final.head()

,Id,.Pav:,.bss:,.data:,.dll,.edata:,.idata:,.rdata:,.reloc:,.rsrc:,...,img_f991,img_f992,img_f993,img_f994,img_f995,img_f996,img_f997,img_f998,img_f999,Size
0,01IsoiSMh5gxyDYTl4CB,0,0,24568,24,0,616,26405,0,0,...,10,46,116,101,120,116,58,48,48,13.999378
1,02IOCvYEy8mjiuAQHax3,0,0,77840,6,0,41,0,0,3,...,59,32,70,111,114,109,97,116,9,3.296968
2,02MRILoE6rNhmt7FUi45,0,0,4329,19,0,606,2349368,0,0,...,10,46,116,101,120,116,58,48,48,83.639698
3,04cvLCVPqBMs6yn5xGlE,0,0,783910,12,0,123,598,0,0,...,59,32,70,111,114,109,97,116,9,32.699180
4,04QzZ3DVdPsEp9elLR65,0,0,1033,12,0,124,640,0,3,...,71,77,69,78,84,32,72,69,65,0.196652

In [5]:
# importing the class labels
labels = pd.read_csv('./input/trainLabels.csv')
labels.head()

                     Id  Class
0  01kcPWA9K2BOxQeS5Rju      1
1  04EjIdbPV5e1XroFOpiN      1
2  05EeG39MTRrI6VY21DPd      1
3  05rJTUWYAKNegBk2wE8X      1
4  0AnoOZDNbPXIr2MRBSCJ      1

In [6]:
# Combining asm_final with class labels
# Combining so as to maintain the consistency in the X and y of the full dataset while performing feature selection
# That is, the order of data points should remain the same in the X feature matrix and the y class label vector.
data = asm_final.merge(labels, on='Id')
data.head()

,Id,.Pav:,.bss:,.data:,.dll,.edata:,.idata:,.rdata:,.reloc:,.rsrc:,...,img_f992,img_f993,img_f994,img_f995,img_f996,img_f997,img_f998,img_f999,Size,Class
0,01IsoiSMh5gxyDYTl4CB,0,0,24568,24,0,616,26405,0,0,...,46,116,101,120,116,58,48,48,13.999378,2
1,02IOCvYEy8mjiuAQHax3,0,0,77840,6,0,41,0,0,3,...,32,70,111,114,109,97,116,9,3.296968,6
2,02MRILoE6rNhmt7FUi45,0,0,4329,19,0,606,2349368,0,0,...,46,116,101,120,116,58,48,48,83.639698,2
3,04cvLCVPqBMs6yn5xGlE,0,0,783910,12,0,123,598,0,0,...,32,70,111,114,109,97,116,9,32.699180,3
4,04QzZ3DVdPsEp9elLR65,0,0,1033,12,0,124,640,0,3,...,77,69,78,84,32,72,69,65,0.196652,3

## 1. Chi-Square for feature selection from asm features

In [12]:
# Getting our X and y out of the whole data
X = data.drop(labels=['Id', 'Class'], axis=1)
y = data['Class']

In [20]:
# Performing feature selection
feature_selector = SelectPercentile(chi2, 52)
X_52 = feature_selector.fit_transform(X, y)

In [22]:
# Contains the best 52% features from the X
# X_50 of type np.ndarray
X_52.shape

(10868, 597)

Thus, top 52% features have yielded us a total of 597 asm features.

In [24]:
# Filtering out our useful features from the X dataframe. 
# Note: X does not has Id 
X_52 = X.iloc[:, list(feature_selector.get_support(indices=True))]
X_52.head()

,.Pav:,.bss:,.data:,.edata:,.idata:,.rdata:,.reloc:,.rsrc:,.text:,.tls:,...,img_f985,img_f989,img_f990,img_f991,img_f992,img_f995,img_f996,img_f998,img_f999,Size
0,0,0,24568,0,616,26405,0,0,109939,0,...,54,41,13,10,46,120,116,48,48,13.999378
1,0,0,77840,0,41,0,0,3,838,0,...,32,32,32,59,32,114,109,116,9,3.296968
2,0,0,4329,0,606,2349368,0,0,5372,0,...,54,41,13,10,46,120,116,48,48,83.639698
3,0,0,783910,0,123,598,0,0,3405,0,...,32,32,32,59,32,114,109,116,9,32.699180
4,0,0,1033,0,124,640,0,3,2216,0,...,83,83,69,71,77,84,32,69,65,0.196652

Now, in the above dataframe we do not have 'Id' as a column. So we will be including Id into the above dataframe.

In [28]:
# Gathering a list of all useful columns to use as a filter 
useful_cols = list(X_52.columns)
useful_cols.insert(0, 'Id') # adding Id into the list of columns
print(len(useful_cols))

598

In [29]:
# Filtering out all the top 52% features from the asm features to get the reduced asm features along with Id
asm_reduced = data.loc[:, useful_cols]
asm_reduced.head()

,Id,.Pav:,.bss:,.data:,.edata:,.idata:,.rdata:,.reloc:,.rsrc:,.text:,...,img_f985,img_f989,img_f990,img_f991,img_f992,img_f995,img_f996,img_f998,img_f999,Size
0,01IsoiSMh5gxyDYTl4CB,0,0,24568,0,616,26405,0,0,109939,...,54,41,13,10,46,120,116,48,48,13.999378
1,02IOCvYEy8mjiuAQHax3,0,0,77840,0,41,0,0,3,838,...,32,32,32,59,32,114,109,116,9,3.296968
2,02MRILoE6rNhmt7FUi45,0,0,4329,0,606,2349368,0,0,5372,...,54,41,13,10,46,120,116,48,48,83.639698
3,04cvLCVPqBMs6yn5xGlE,0,0,783910,0,123,598,0,0,3405,...,32,32,32,59,32,114,109,116,9,32.699180
4,04QzZ3DVdPsEp9elLR65,0,0,1033,0,124,640,0,3,2216,...,83,83,69,71,77,84,32,69,65,0.196652

### Saving the reduced asm features

In [30]:
# Saving into csv
asm_reduced_tosave = asm_reduced.set_index('Id')
asm_reduced_tosave.to_csv('./input/asm_reduced.csv')

In [32]:
# Loading the csv
asm_reduced = pd.read_csv('./input/asm_reduced.csv')
asm_reduced.head()

,Id,.Pav:,.bss:,.data:,.edata:,.idata:,.rdata:,.reloc:,.rsrc:,.text:,...,img_f985,img_f989,img_f990,img_f991,img_f992,img_f995,img_f996,img_f998,img_f999,Size
0,01IsoiSMh5gxyDYTl4CB,0,0,24568,0,616,26405,0,0,109939,...,54,41,13,10,46,120,116,48,48,13.999378
1,02IOCvYEy8mjiuAQHax3,0,0,77840,0,41,0,0,3,838,...,32,32,32,59,32,114,109,116,9,3.296968
2,02MRILoE6rNhmt7FUi45,0,0,4329,0,606,2349368,0,0,5372,...,54,41,13,10,46,120,116,48,48,83.639698
3,04cvLCVPqBMs6yn5xGlE,0,0,783910,0,123,598,0,0,3405,...,32,32,32,59,32,114,109,116,9,32.699180
4,04QzZ3DVdPsEp9elLR65,0,0,1033,0,124,640,0,3,2216,...,83,83,69,71,77,84,32,69,65,0.196652